
<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" [class.isMobile]="isMobile">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <h3>  <span class="mobile-label">ID :</span>
         {{element.id}}</h3> 
        </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <span class="mobile-label">Name:</span>
          {{element.name}} 
        </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <span class="mobile-label">Age:</span>
          {{element.age}} 
        </mat-cell>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <span class="mobile-label">Gender:</span>
          {{element.gender}} 
        </mat-cell>
      </ng-container>

       <!-- Symbol Column -->
       <ng-container matColumnDef="phoneno">
          <mat-header-cell *matHeaderCellDef> phoneno </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="mobile-label">phoneno:</span>
            {{element.phoneno}} 
          </mat-cell>
        </ng-container>
         <!-- Symbol Column -->
      <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> email </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="mobile-label">email:</span>
            {{element.email}} 
          </mat-cell>
        </ng-container>

         <!-- Symbol Column -->
      <ng-container matColumnDef="residential_address">
          <mat-header-cell *matHeaderCellDef> residential_address </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="mobile-label">residential_address:</span>
            {{element.residential_address}} 
          </mat-cell>
        </ng-container>

         <!-- Symbol Column -->
      <ng-container matColumnDef="education">
          <mat-header-cell *matHeaderCellDef> education </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="mobile-label">education:</span>
            {{element.education}} 
          </mat-cell>
        </ng-container>

         <!-- Symbol Column -->
      <ng-container matColumnDef="recent_education">
          <mat-header-cell *matHeaderCellDef> recent_education </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="mobile-label">recent_education:</span>
            {{element.recent_education}} 
          </mat-cell>
        </ng-container>

         <!-- Symbol Column -->
      <ng-container matColumnDef="current_working_details">
          <mat-header-cell *matHeaderCellDef> current_working_details </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="mobile-label">current_working_details:</span>
            {{element.current_working_details}} 
          </mat-cell>
        </ng-container>

         <!-- Symbol Column -->
      <ng-container matColumnDef="months_available">
          <mat-header-cell *matHeaderCellDef> months_available </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="mobile-label">months_available:</span>
            {{element.months_available}} 
          </mat-cell>
        </ng-container>
  

        
          <ng-container matColumnDef="day1">
              <mat-header-cell *matHeaderCellDef> day1 </mat-header-cell>
              <mat-cell *matCellDef="let element"> 
                <span class="mobile-label">day1:</span>
                {{element.day1}} 
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="day2">
                <mat-header-cell *matHeaderCellDef> day2 </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                  <span class="mobile-label">day2:</span>
                  {{element.day2}} 
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="day3">
                  <mat-header-cell *matHeaderCellDef> day3 </mat-header-cell>
                  <mat-cell *matCellDef="let element"> 
                    <span class="mobile-label">day3:</span>
                    {{element.day3}} 
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="time_slot">
                    <mat-header-cell *matHeaderCellDef> time_slot </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                      <span class="mobile-label">time_slot:</span>
                      {{element.time_slot}} 
                    </mat-cell>
                  </ng-container>


                  <ng-container matColumnDef="skill_set">
                      <mat-header-cell *matHeaderCellDef> skill_set </mat-header-cell>
                      <mat-cell *matCellDef="let element"> 
                        <span class="mobile-label">skill_set:</span>
                        {{element.skill_set}} 
                      </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="area_comfortable">
                        <mat-header-cell *matHeaderCellDef> area_comfortable </mat-header-cell>
                        <mat-cell *matCellDef="let element"> 
                          <span class="mobile-label">area_comfortable:</span>
                          {{element.area_comfortable}} 
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="volunteering_cause">
                          <mat-header-cell *matHeaderCellDef> volunteering_cause </mat-header-cell>
                          <mat-cell *matCellDef="let element"> 
                            <span class="mobile-label">volunteering_cause:</span>
                            {{element.volunteering_cause}} 
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="awareness_source">
                            <mat-header-cell *matHeaderCellDef> awareness_source </mat-header-cell>
                            <mat-cell *matCellDef="let element"> 
                              <span class="mobile-label">awareness_source:</span>
                              {{element.awareness_source}} 
                            </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="prior_teaching_experience">
                              <mat-header-cell *matHeaderCellDef> prior_teaching_experience </mat-header-cell>
                              <mat-cell *matCellDef="let element"> 
                                <span class="mobile-label">prior_teaching_experience:</span>
                                {{element.prior_teaching_experience}} 
                              </mat-cell>
                            </ng-container>

                           
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  
  
  <!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->